<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>统计</title>
</head>
<body>
    <div layout:fragment="content" class="layui-card">
        <div class="layui-card-header">今天</div>
        <div class="layui-card-body">
            <table id="notesTable" lay-filter="data"></table>
        </div>
    </div>
    <footer layout:fragment="footer">
        <script th:src="@{../js/statistics.js}"></script>
    </footer>
</body>
</html>